* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 55, 55);
}

#canvas{
    border: 2px solid red;
    
}

label{
    color: black;
}